#tridiv {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  top: 100px;
  left: 140px;
  transform: rotateX(-45deg) rotateY(45deg);
  width: 0px;
  height: 0px;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="prism"] .ft, [class*="prism"] .bk {
  width: 100%;
  height: 100%;
}
[class*="prism"] .bk {
  left: 100%;
}
[class*="prism"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="prism"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="prism"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="prism"] .lt {
  left: 100%;
}
[class*="prism"] .bm {
  top: 100%;
}
[class*="prism"] .rt .face {
  left: -100%;
  transform-origin: 100% 0;
}
/* .pri-1 styles */
.pri-1 {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  opacity:1;
  width:5em;
  height:5em;
  margin:-2.5em 0 0 -2.5em;
}
.pri-1 .rt .face {
  transform:rotateZ(-45.00000000000001deg);
}
.pri-1 .lt .face {
  transform:rotateZ(45.00000000000001deg);
}
.pri-1 .ft {
  height:7.0710678118654755em;
  transform:translateZ(-2.5em) rotateX(45.00000000000001deg);
}
.pri-1 .bk {
  transform:translateZ(-2.5em) rotateY(180deg);
}
.pri-1 .rt, .pri-1 .lt {
  width:5em;
  height:5em;
}
.pri-1 .rt .face, .pri-1 .lt .face {
  height:7.0710678118654755em;
}
.pri-1 .bm {
  width:5em;
  height:5em;
}
.pri-1 .face {
  background-color:black;
}
.pri-1 .ft {
  background-color:yellow;
}
.pri-1 .bk {
  background-color:red;
}
.pri-1 .bm {
  background-color:blue;
}
.pri-1 .lt > div {
  background-color:#ff1515;
}
.pri-1 .rt > div {
  background-color:#80ff00;
}